body {
    background-color: whitesmoke;
}
.container {
    max-width:540px!important;
}
.todo {
    background-color: white;
}
input[type=button] {
    background-color: transparent;
    min-width:36px!important;
    max-width:36px!important;
    min-height:36px!important;
    max-height:36px!important;
    padding:1px!important;
    margin:0px!important;
}
input[type=text] {
    padding:1px 8px!important;
    margin:0px!important;
}
input[type=text]:focus {
    outline:none;
}
.click:hover {
    background-color:rgb(240, 240, 240);
    border-radius:100px;
}
.click:focus {
    outline:none;
}
.todoTextDone_true {
    text-decoration: line-through;
    opacity: 0.5;
}
#textInputActive:focus {
    background-color: rgb(240, 240, 240);
}