.container {
    max-width:540px!important;
}

input[type=button] {
    background-color: transparent;
}
input[type=text]:focus {
    outline:none;
}
.click:hover {
    background-color:lightgray;
    border-radius:100px;
}
.click,
#taskDone,
#editTask {
    max-width:26px!important;
    max-height:26px!important;
    width:100%;
    height:100%;
    padding:1px!important;
    vertical-align: middle;
}
.click:focus {
    outline:none;
}
.taskTextDone_true {
    text-decoration: line-through;
    opacity: 0.5;
} 
#addItemBtn:hover {
    background-color:lightgray;
    border-radius:100px;
}